<head>
    <link rel="stylesheet" href="css/admin.css">

</head>
<div class="container mt-5 mb-5 navadmin">
    <div class="container mt-5 mb-5">
        <div class="list-group list-group-horizontal menunav text-center">
            <a class="list-group-item " href="/admin">
                Suất Chiếu
             </a>
            <a class="list-group-item " href="./1">
               Cụm rạp
            </a>
            <a class="list-group-item " href="/2">
                Rạp
            </a>
            <a class="list-group-item " href="/3">
               Phim
            </a>
           
            <a class="list-group-item " href="/4">
               Doanh Thu Rạp
             </a>
            <a class="list-group-item " href="/5">
                Doanh Thu Phim
              </a>
        </div>

    </div>

</div>