<div class="film--wrapper">
    <div class="container">
        <div class="film--detail-title">
        </div>
        <div class="film--detail-content-top clearfix">
            <div class="row">
                <div class="col-thubnail-bhd col-md-4 col-sm-4">
                    <a href="#">
                        <img class="movie-full" src="http://booking.bhdstar.vn/CDN/media/entity/get/FilmPosterGraphic/HO00002024?referenceScheme=HeadOffice&amp;allowPlaceHolder=true&amp;height=500" alt="MINIONS THE RISE OF GRU">
                    </a>
                </div>
                <div class="product--view col-md-8 col-sm-8">
                    <div class="product--name">
                        <h3>MINIONS THE RISE OF GRU</h3>
                    </div>
                    <div class="film--tech">
                    </div>
                    <div class="film--detail">Minions: The Rise of Gru dự kiến là câu chuyện kể về nguồn gốc ác nhân Gru - tâm điểm của loạt phim chính Despicable Me và do Steve Carell lồng tiếng từ năm 2010.</div>
                    <ul class="film--info">
                        <li>
                            <span class="col-left">Phân Loại</span>
                            <span class="col-right phan-loai">P - PHIM PHỔ BIẾN CHO MỌI LỨA TUỔI</span>
                        </li>
                        <li>
                            <span class="col-left">Đạo diễn</span>
                            <span class="col-right">Kyle  Balda</span>
                        </li>
                        <li>
                            <span class="col-left">Diễn viên</span>
                            <span class="col-right">Pierre  Coffin</span>
                        </li>
                        <li>
                            <span class="col-left">Thể loại</span>
                            <span class="col-right">Animation</span>
                        </li>
                        <li>
                            <span class="col-left">Khởi chiếu</span>
                            <span class="col-right">2021-07-03</span>
                        </li>
                        <li>
                            <span class="col-left">Thời lượng</span>
                            <span class="col-right">100 phút</span>
                        </li>
                        <li>
                            <span class="col-left">Ngôn ngữ</span>
                            <span class="col-right">Phụ đề tiếng Việt</span>
                        </li>
                    </ul>
                    <div class="button--green ml-5">
                        <button type="button" class="btn btn-success"><a style="color: aliceblue;" href="/ghe">MUA VÉ</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="film--detail-bottom clearfix">
            <iframe class="link-ytb" width="1000px" height="450" src="https://www.youtube.com/embed/k7ILRVC4FGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- film--detail-bottom -->
        </div>