<link rel="stylesheet" type="text/css" href="/assets/css/e-ticket.css">
<div style="color: rgb(12, 10, 11);">
    <h1>E-Ticket</h1>
</div>
<div class="info" style="color: rgb(12, 10, 11);background: linear-gradient(270deg, #dde01cf1 20%, #447cf3 100%);">

    <table class="info-table ticket-table">
        <tr>
            <th>MÀN HÌNH</th>
            <th>GHẾ</th>
            <th>GIÁ</th>
        </tr>
        <tr>
            <td class="bigger">
                <div id="phong">
                    <%= maphong %>
                </div>
            </td>
            <td class="bigger">
                <div id="demo1"></div>
            </td>
            <td class="bigger">
                <div id="price"></div>
            </td>
        </tr>
    </table>
    <table class="info-table ticket-table">
        <tr>
            <th>ĐÃ THANH TOÁN</th>
            <th>NGÀY</th>
            <th>GIỜ</th>
        </tr>
        <tr>
            <td>Tiền Mặt</td>
            <td>
                <%= ngaychieu %>
            </td>
            <td>
                <%= giochieu %>
            </td>
        </tr>
    </table>
</div>
<div class="holes-lower"></div>
<div class="serial">
    <table class="barcode ticket-table">
        <tr>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
            <td style="background-color:black;"></td>
            <td style="background-color:white;"></td>
        </tr>
    </table>
    <table class="numbers ticket-table">
        <tr>
            <td>9</td>
            <td>1</td>
            <td>7</td>
            <td>3</td>
            <td>7</td>
            <td>5</td>
            <td>4</td>
            <td>4</td>
            <td>4</td>
            <td>5</td>
            <td>4</td>
            <td>1</td>
            <td>4</td>
            <td>7</td>
            <td>8</td>
            <td>7</td>
            <td>3</td>
            <td>4</td>
            <td>1</td>
            <td>4</td>
            <td>5</td>
            <td>2</td>
        </tr>
    </table>
</div>