<link rel="stylesheet" href="css/footer.css">
<footer id="footer-section" class="footer">
    <div class="gridRow">

        <div class="gridCol-l-3 gridCol-m-3 gridCol-s-6 navBlockMobile">
            <h3 class="">Liên Hệ</h3>
            <div class="">
                <p>Hotline: 1900 0091
                    <br>Giờ làm việc: 8:00 - 22:00.
                    <br>Email: Hikihuda@gmail.com</a>
                </p>

            </div>
        </div>

        <div class="gridCol-l-3 gridCol-m-3 gridCol-s-6 navBlockMobile">
            <h3 class="">Hợp Tác</h3>
            <div class="">

            </div>
        </div>

        <div class="gridCol-l-3 gridCol-m-3 gridCol-s-12 navBlockMobile">
            <h3 class="">Giải Thưởng</h3>
            <div class="">

            </div>
        </div>

        <div class="gridCol-l-3 gridCol-m-3 gridCol-s-12">
            <h3>Mạng Xã Hội</h3>

            <div class="social-icons">
                <div class="social-icon">
                    <a href="https://www.facebook.com/groups/821790895126071" target="_blank" class="" rel="noopener" title="Facebook" aria-label="Facebook (will open in a new window)">
                        <img src="/img/facebook-01.svg" alt="Facebook Logo" title="" class="footerShareIcon" aria-hidden="true">
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://twitter.com/bts_twt" target="_blank" class="" rel="noopener" title="Twitter" aria-label="Twitter (will open in a new window)">
                        <img src="/img/twitter-02.svg" alt="Twitter Logo " title="" class="footerShareIcon" aria-hidden="true">
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.instagram.com/xeesoxee/?hl=vi" target="_blank" class="" rel="noopener" title="Instagram" aria-label="Instagram (will open in a new window)">
                        <img src="/img/instagram-05.svg" alt="Instagram logo" title="" class="footerShareIcon" aria-hidden="true">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="qbPanelOverlay" data-qb-overlay></div>
</footer>