
<div class="filmListShowtimes">
    <div class="rowSpacingBottom">
        <div class="filterDate">
            <button class="dn_mobile">
                <span class="displayBtnDate">Jun 20</span>
                <span class="displayBtnDay">Today</span></button>
                <button class="dn_mobile"><span class="displayBtnDate">Jun 21</span>
                    <span class="displayBtnDay">Mon</span></button><button class="active ">
                        <span class="displayBtnDate">Jun 22</span><span class="displayBtnDay">Tue</span>
                    </button><button class="dn_mobile"><span class="displayBtnDate">Jun 23</span>
                        <span class="displayBtnDay">Wed</span></button><button class="dn_mobile">
                            <span class="displayBtnDate">Jun 24</span><span class="displayBtnDay">Thu</span>
                        </button><button class="dn_mobile"><span class="displayBtnDate">Jun 25</span><span class="displayBtnDay">Fri</span>
                        </button><button class="dn_mobile"><span class="displayBtnDate">Jun 26</span><span class="displayBtnDay">Sat</span></button><button id="films-datepicker-btn" data-datepicker-btn="Select a date" data-date="2021-06-22" aria-haspopup="true" aria-label="More Dates" aria-expanded="false"><span class="displayBtnDate">
                            <i class="fas fa-angle-double-right"></i></span><span class="displayBtnDay">MORE DATES</span></button></div></div><div class="rowSpacingBottom"><div class="filmsCarousel slick-initialized slick-slider" data-films-scroll="true"><div class="gridRow showtimesRow active"><div class="gridCol-l-3 gridCol-m-3 gridCol-s-12">
                                <a href="/film-info/showcase-superlux-chestnut-hill/the-hitmans-wifes-bodyguard" class="filmPosterLink"><img src="https://blobimageprocessor.azurewebsites.net/blob-image///www.movienewsletters.net/photos/305638R1.jpg?width=270&amp;height=405" alt="The Hitman's Wife's Bodyguard" title="The Hitman's Wife's Bodyguard" class="filmPoster"></a>
                                <div class="filmTrailerHolder textCenter"><button data-trailer-btn="//m.boxoffice.media/mp4/305638_high.mp4" class="btn-outline">View Trailer <i class="fas fa-chevron-right"></i></button></div></div><div class="gridCol-l-9 gridCol-m-9 gridCol-s-12"><h2 class="filmTitle"></h2>