<div class="container-fluid">
    <div class="gridRow">
        <div id="filmListMoviesId">
            <div class="gridRow rowSpacing">
                <div class="gridCol-l-12 gridCol-l-c gridCol-m-12 gridCol-m-c gridCol-s-12 textCenter">
                    <button type="submit" value="button2" name="currentPatient" class="btn-showtimes first " style="background-color:rgba(38, 65, 241, 0.809);border: 1px solid rgb(255, 255, 255);
                        border-radius: 10px;color: whitesmoke; ">Đang Khởi Chiếu</button>
                    <button value="button3" name="currentPatient" style="background-color:rgba(38, 65, 241, 0.809);border: 1px solid rgb(255, 255, 255);
                        border-radius: 10px;color: whitesmoke; " type="submit" class="btn-showtimes first ">Sắp Khởi Chiếu</button>
                </div>
            </div>
        </div>
    </div>
</div>