<div class="hero">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="heroItem" data-hero-item>
                    <div class="heroItemImageContain">
                        <div class="heroItemImage" style="background-image:url(/img/timkiem.jpg)" role="img" aria-label="F9 The Fast Saga">
                            <div class="heroItemImageMobile" style="background-image:url(/Media/5113/f9search-hero-mobile.jpg)" role="img" aria-label="F9 The Fast Saga">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="heroItem" data-hero-item>
                    <div class="heroItemImageContain">
                        <div class="heroItemImage" style="background-image:url(/img/timkiem.jpg)" role="img" aria-label="F9 The Fast Saga">
                            <div class="heroItemImageMobile" style="background-image:url(/Media/5113/f9search-hero-mobile.jpg)" role="img" aria-label="F9 The Fast Saga">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="heroItem" data-hero-item>
                    <div class="heroItemImageContain">
                        <div class="heroItemImage" style="background-image:url(/img/timkiem.jpg)" role="img" aria-label="F9 The Fast Saga">
                            <div class="heroItemImageMobile" style="background-image:url(/Media/5113/f9search-hero-mobile.jpg)" role="img" aria-label="F9 The Fast Saga">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Trước</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Sau</span>
        </a>
    </div>
</div>
<div class="ta_c">
    <div class="gridRow cinemaSelectRow">
        <div class="gridCol-l-12 gridCol-m-12 gridCol-s-12">
            <div id="cinemaSelector">
                <div class="cinemaSelectTitle">Rạp của tôi</div>
                <div class="customSelect cinemaSelect">
                    <select id="cinemaSelect" class="formField" tabIndex="0" data-use-redirect="true" data-redirect-sets-cookie="true">
        
                                <option value="-1" data-cinema-friendly=""
                                                                                                             data-option-url="/showtimes/" 
        >
                                    Xin vui lòng chọn.
                                </option>
                                        <option value="7909"
                                                                                                                                     data-option-url="/showtimes/showcase-superlux-chestnut-hill" 
                                                data-cinema-friendly="showcase-superlux-chestnut-hill">
                                            Showcase SuperLux Chestnut Hill
                                        </option>
                                        <option value="7928"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-legacy-place" 
                                                data-cinema-friendly="showcase-cinema-de-lux-legacy-place">
                                            Showcase Cinema de Lux Legacy Place
                                        </option>
                                        <option value="7929"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-patriot-place" 
                                                data-cinema-friendly="showcase-cinema-de-lux-patriot-place">
                                            Showcase Cinema de Lux Patriot Place
                                        </option>
                                        <option value="7930"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-lowell" 
                                                data-cinema-friendly="showcase-cinema-de-lux-lowell">
                                            Showcase Cinema de Lux Lowell
                                        </option>
                                        <option value="7931"
                                                                                                                                     data-option-url="/showtimes/blackstone-valley-14-cinema-de-lux" 
                                                data-cinema-friendly="blackstone-valley-14-cinema-de-lux">
                                            Blackstone Valley 14 Cinema de Lux
                                        </option>
                                        <option value="7932"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-north-attleboro" 
                                                data-cinema-friendly="showcase-cinema-de-lux-north-attleboro">
                                            Showcase Cinema de Lux North Attleboro
                                        </option>
                                        <option value="108"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-randolph" 
                                                data-cinema-friendly="showcase-cinema-de-lux-randolph">
                                            Showcase Cinema de Lux Randolph
                                        </option>
                                        <option value="7934"
                                                                                             selected="selected" 
                                                                                             data-option-url="/showtimes/showcase-cinemas-seekonk-route-6" 
                                                data-cinema-friendly="showcase-cinemas-seekonk-route-6">
                                            Showcase Cinemas Seekonk Route 6
                                        </option>
                                        <option value="7935"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-woburn" 
                                                data-cinema-friendly="showcase-cinema-de-lux-woburn">
                                            Showcase Cinema de Lux Woburn
                                        </option>
                                        <option value="7913"
                                                                                                                                     data-option-url="/showtimes/concourse-plaza-multiplex-cinemas" 
                                                data-cinema-friendly="concourse-plaza-multiplex-cinemas">
                                            Concourse Plaza Multiplex Cinemas
                                        </option>
                                        <option value="7914"
                                                                                                                                     data-option-url="/showtimes/linden-boulevard-multiplex-cinemas" 
                                                data-cinema-friendly="linden-boulevard-multiplex-cinemas">
                                            Linden Boulevard Multiplex Cinemas
                                        </option>
                                        <option value="7938"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-farmingdale" 
                                                data-cinema-friendly="showcase-cinema-de-lux-farmingdale">
                                            Showcase Cinema de Lux Farmingdale
                                        </option>
                                        <option value="7939"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-broadway" 
                                                data-cinema-friendly="showcase-cinema-de-lux-broadway">
                                            Showcase Cinema de Lux Broadway
                                        </option>
                                        <option value="7940"
                                                                                                                                     data-option-url="/showtimes/island-16-cinema-de-lux" 
                                                data-cinema-friendly="island-16-cinema-de-lux">
                                            Island 16: Cinema de Lux
                                        </option>
                                        <option value="7941"
                                                                                                                                     data-option-url="/showtimes/jamaica-multiplex-cinemas" 
                                                data-cinema-friendly="jamaica-multiplex-cinemas">
                                            Jamaica Multiplex Cinemas
                                        </option>
                                        <option value="7942"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-city-center-15" 
                                                data-cinema-friendly="showcase-cinema-de-lux-city-center-15">
                                            Showcase Cinema de Lux City Center 15
                                        </option>
                                        <option value="7943"
                                                                                                                                     data-option-url="/showtimes/college-point-multiplex-cinemas" 
                                                data-cinema-friendly="college-point-multiplex-cinemas">
                                            College Point Multiplex Cinemas
                                        </option>
                                        <option value="7944"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-cross-county" 
                                                data-cinema-friendly="showcase-cinema-de-lux-cross-county">
                                            Showcase Cinema de Lux Cross County
                                        </option>
                                        <option value="7945"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-ridge-hill" 
                                                data-cinema-friendly="showcase-cinema-de-lux-ridge-hill">
                                            Showcase Cinema de Lux Ridge Hill
                                        </option>
                                        <option value="7915"
                                                                                                                                     data-option-url="/showtimes/showcase-cinema-de-lux-springdale" 
                                                data-cinema-friendly="showcase-cinema-de-lux-springdale">
                                            Showcase Cinema de Lux Springdale
                                        </option>
                                        <option value="7916"
                                                                                                                                     data-option-url="/showtimes/providence-place-cinemas-16-and-imax" 
                                                data-cinema-friendly="providence-place-cinemas-16-and-imax">
                                            Providence Place Cinemas 16 and IMAX
                                        </option>
                                        <option value="7947"
                                                                                                                                     data-option-url="/showtimes/showcase-cinemas-warwick-quaker-lane" 
                                                data-cinema-friendly="showcase-cinemas-warwick-quaker-lane">
                                            Showcase Cinemas Warwick, Quaker Lane
                                        </option>
                            </select>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>